:root {
  /* ## Colors */

  /* ### Primary */

  --pale-blue: hsl(225, 100%, 94%);
  --bright-blue: hsl(245, 75%, 52%);

  /* ### Neutral */

  --very-pale-blue: hsl(225, 100%, 98%);
  --desaturated-blue: hsl(224, 23%, 55%);
  --dark-blue: hsl(223, 47%, 23%);
}

body {
  font-size: 16px;
  background-image: url("/images/pattern-background-desktop.svg");
  background-color: var(--pale-blue);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.text-bold {
  font-weight: bold;
}

.text-bright-blue {
  color: var(--bright-blue);
}

.text-dark-blue {
  color: var(--dark-blue);
}

.text-desaturated-blue {
  color: var(--desaturated-blue);
}

.main-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.main-container {
  background-color: var(--very-pale-blue);
  border-radius: 15px;
  text-align: center;
  max-width: 350px;
  max-height: 600px;
}

.main-container img {
  border-radius: 15px 15px 0px 0px;
  width: 100%;
}

.order-content {
  padding: 30px;
}

.order-details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.order-details {
  padding: 14px;
  background-color: hsl(225, 100%, 94%, 0.3);
  border-radius: 10px;
  margin-bottom: 24px;
}

.order-details img {
  height: 50px;
  width: 50px;
}

.plan {
  margin: 0px;
  padding: 0px;
}
.plan p {
  margin: 0px;
  padding: 0px;
}

.plan p:first-child {
  margin-bottom: 7px;
}

#proceed-button {
  width: 100%;
  padding: 10px 0px;
  border-radius: 10px;
  background-color: var(--bright-blue);
  color: var(--very-pale-blue);
  border: none;
  margin-bottom: 10px;
}

@media (max-width: 475px) {
  .main-container {
    background-color: var(--very-pale-blue);
    border-radius: 15px;
    text-align: center;
    max-width: none;
    max-height: none;
    width: 90%;
  }
}

@media (max-width: 635px) {
  .main-container {
    background-color: var(--very-pale-blue);
    border-radius: 15px;
    text-align: center;
    max-width: none;
    max-height: none;
    width: 60%;
  }
}
